#basicinfo {
  font-size: 20px;
  width: fit-content;
  color: rgb(224, 224, 224);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 1rem;
}
.basic-btn {
  margin-bottom: 8px;
  transition: 0.1s;
}
.basic-btn:hover {
  transform: translate(2px, 1px);
}
